*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main_div{
border: 3px solid black;
width: 315px;
height: 500px;
margin-top: 7%;
border-radius: 7PX;

}

.title{
margin-top: 20px;
background-color:rgb(201, 25, 186) ;
color: white;
border-top: 2px solid rgb(122, 5, 138);
border-bottom: 2px solid rgb(122, 5, 138);
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
outline: none;

}

.input{
border: none;
border-bottom: 2px solid rgb(122, 5, 138);
margin-top:30px ;
text-align: center;
background:transparent;
font-size: 20px;
margin-left: 6px;
outline: none;

}


.add{
   margin-left: 10px;
  height: 30px;
   width: 30px;
   border-radius: 50%;
   color: white;
   font-weight: bold;
   background-color: rgb(201, 25, 186);
   border: 2px solid rgb(122, 5, 138);
   cursor: pointer;
  
   font-size: 20px;
}
.add:hover{
 background-color: rgb(35, 224, 35);
 border: 2px solid  green;
}

.List{
    list-style: none;
    font-size: 23px;
    margin-top: -30px;
    margin-left: 60px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cut{
    margin-top: 50px;
    margin-right: 230px;
    height: 30px;
     width: 30px;
     border-radius: 50%;
     color: white;
     font-weight: bold;
     background-color: rgb(201, 25, 186);
     border: 2px solid rgb(122, 5, 138);
     cursor: pointer;
      
}

.cut:hover{
    background-color: rgb(240, 30, 41);
    border: 2px solid  rgb(182, 4, 4);
   }